:root {
    --primary-color:#219C90;
    --secondary-color:#d86b27;
    --third-color: #c26124;
}
@font-face {
    font-family: vinylFont;
    src: url('Lobster/Lobster-Regular.ttf');
}
.email-logo{
    cursor: pointer;
}

#nice-font {
    font-family: vinylFont;
}

.top-right-nav .nav-items, .left-nav .nav-items {
    width: 15rem;
}

.body-no-scroll {
    overflow: hidden;
}

html, body {
    margin: 0;
    /* box-sizing: border-box; */
    font-family: "Calibri", sans-serif;
}

body {
    margin: 0;
    /* box-sizing: border-box; */
    /* font-family: "Calibri", sans-serif; */
    height: 100%; /* Make sure the body takes the full height of the viewport */
    width: 100%;
    /* overflow: auto; Enable scrolling by default */
}


.location-info a span{
    text-decoration: none;

    color: white;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.info-section {
    align-items: center;
}


.info-catering {
    width: 10rem;
}

.extras {
    padding-bottom: 2rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* display: flex; */
    transition: 0.6s;
}

header.sticky {
    z-index: 3;
    padding: 5px 0;
    background: var(--third-color);
    color: black;
}

header.sticky .logo {
    color: black;
}

header.sticky .bar {
    background-color: white;
}

header.sticky li a{
    color: white;
}


.img-divider img {
    height: 5rem;
    width: 5rem;
}

.footer-logo {
    width: 15rem;
}
.title {
    --text-divider-gap: 1rem;
    display: flex;
    align-items: center;
    font-size: 0.9375rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
  .title::before, .title::after {
    content: '';
    height: 2px;
    background-color: silver;
    /* flex-grow: 1; */
    width: 10rem;
  }
  
  .title::before {
    margin-right: var(--text-divider-gap);
  }
  
  .title::after {
    margin-left: var(--text-divider-gap);
  }


  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

/* animation design  */



.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
opacity: 1;
filter: blur(0);
transform: translateX(0);
}


.blur {
    background-image: none;
    backdrop-filter: blur(10px);
    background-color: white; /* Adjust the opacity as needed */
}
@media only screen and (max-width: 966px) {
    body, html {
        overflow-x: hidden;
        width: 100vw;
    }
    .info-cell a img {
        width: 100%;
    }
    main {
        color: white;
        height: 100vh;
        width: 100vw;
        display: flex;
        /* flex-direction: column;
        background-image: url('images/main_image.png');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center left -650px; */

    }

    .background-container {
        position: absolute;
        left: 0; top: 0;
        width: 100vw;
        min-height: 100vh;
        z-index: -5;
        /* background-image: url('images/main_image.png'); */
        /* background-size: cover;
        background-repeat: no-repeat;
        background-position: center;    */
    }

    .background {
        position: absolute;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .showing {
        opacity: 1;
        z-index: -1;
        transition: none;
    }
    
    .left-nav {
        display: none;
    }

    .nav-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px;
    }
    
    .logo {
        text-decoration: none;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 15rem;
    }
    
    .logo-title {
        font-size: 0.6rem;
    }
    
    .logo-content {

        display: flex;
        gap: 10px;
        justify-content: center;
    }

    .logo-content span {
        font-size: 0.6rem;
    }
    
    .right-nav {
        display: none;
    }
    
    .hamburger {
        display: block;
        z-index: 2;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu-phone {
        position: fixed;
        height: 100vh;
        left: -100%;
        top: 0;
        padding-top: 70px;
        font-size: 2rem;
        z-index: 1;
        gap: 0;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.2); 
        backdrop-filter: blur(8px); 
        -webkit-backdrop-filter: blur(8px);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu-phone .nav-items {
        height: 80%;
        display: flex;
        flex-direction: column;
        /* align-items: ; */
        justify-content: space-around;
    }

    

    .nav-items {
        margin: 16px 0;
        list-style: none;
        line-height: 2rem;
    }

    .nav-items li a {
        color: white;
        text-decoration: none;
        transition: 0.7s ease;

    }

    .nav-items li a:hover {
        color: black;
    }
    
    .nav-menu-phone.active {
        left: 0;

    }



    .main-screen {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        width: 30rem;
    }
    
    .rightSide {
        padding-top: 3rem;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }
    
    .rightSide button {
        width: 9rem;
    }
    
    .lil-about-us {
        width: 100vw;
        background-color: var(--secondary-color);

    }

    .lil-rightside {
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .lil-rightside img {
        width: 80%;
    }
    
    .lil-leftside {
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .lil-leftside {
        padding: 2rem;
    }
    
    
    .menu-section {
        background-color: var(--primary-color);
    }
    
    .title {
        padding-top: 3rem;
        justify-content: center;
        text-align: center;
    }
    .title h2 {
        /* margin: 0; */
        padding: 20px;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    
    }
    
    .buttie-cell {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 15rem;
        height: 6rem;
        margin: 2rem;
    }
    
    span {
        font-size: .9rem;
    }
    
    .tapas-smallPlates {
        display: flex;
        flex-direction: column;
        text-align: center;
        /* padding: 15px; */
    }
    
    .tapa-title {
        margin: 3rem;
    }
    
    .tapa-content {
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .column {
        margin: -1.5rem;
    }

    .tapas-cell {
        width: 15rem;
        /* height: 6rem; */
        margin: 1rem;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .last {
        margin-bottom: -3rem;
    }

    .moreScran-cell.last {
        margin-bottom: -0.5rem;
    }
    
    .tapas-title {
        text-wrap: wrap;
    }
    
    .tapas-content {
        display: flex;
        flex-direction: column;
    }
    
    .moreScran {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 15px;
        /* margin-bottom: 3.5rem; */
    }
    
    .scran-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .moreScran-cell {
        width: 15rem;
        height: 6rem;
        margin: 2rem;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .moreScran-title {
        text-wrap: wrap;
    
    }
    
    .moreScran-content {
        text-wrap: wrap;
    }
    
    .extras {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .info-section {
        background-color: var(--secondary-color);
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .info-cell {
        margin-bottom: 5rem;
    }
    
    .info-main-content {
        /* width: 100%; */
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    
    }
    
    .icon img {
        height: 5rem;
        fill: black;
    }

    .info-cell a img{
        margin: 2rem;
        width: 80vw;
    }
    
    .location-info {
        display: flex;
        flex-direction: column;
    }
    

    .location-info a {
        color: black;
        text-decoration: none;
    }

    .location-info, .timetable-info, .info-content {
        line-height: 2rem;
        margin-top: 3rem;
    }
    
    .location-info span, .timetable-info span, .info-content span {
        font-size: 1rem;
    }
    
    .timetable-info {
        display: flex;
        flex-direction: column;
    }
    
    .info-catering {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        text-align: center;
        justify-content: center;
    }

    footer {
        background-color: rgb(22, 21, 21);
        color: white;
        display: flex;
        align-items: center;
        /* height: 30vh; */
        font-weight: bold;
        line-height: 1.2rem;
    }

    .main-footer-content {
        margin: 2rem 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-left-side, .footer-right-side {
        display: flex;
        flex-direction: column;
    }

    .footer-left-side {
        align-items: center;
        gap: 1rem;
        margin-left: 1rem;
    }

    .footer-right-side {
        /* margin-top: 3rem;    */
        justify-content: center;
        align-items: center;
    }

    
    .footer-image img {
        height: 10rem;
        width: 10rem;
    }

    .footer-image.computer {
        display: none;
    }

    

}



@media only screen and (min-width: 966px) {

    .menu {
        padding-top: 3rem;
    }

    .lil-rightside img {
        display: none;
    }

    body {
        width: 100vw;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    header {
        width: 100vw;
    }


    main {
        width: 100%;
        color: white;
        min-height: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
       
    }

    .background-container {
        position: absolute;
        left: 0; top: 0;
        width: 100%;
        min-height: 100vh;
        z-index: -5;
        /* background-image: url('images/main_image.png'); */
        /* background-size: cover;
        background-repeat: no-repeat;
        background-position: center;    */
    }

    .background {
        position: absolute;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .showing {
        opacity: 1;
        z-index: -1;
        transition: none;
    }

    .nav-menu-phone {
        display: none;
    }
    
    .nav-menu {
        margin-left: 1rem;
        margin-right: 1rem;

        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* justify-content: center; */
    }
    
    .left-nav {
        display: flex;
        /* gap: 20px; */
    }

    .nav-items {
        display: flex;
        gap: 20px;
    }

    .nav-items li {
        list-style: none;
    }

    .nav-items li a:hover {
        color: black;
    }

    .nav-items li a {
        color: white;
        text-decoration: none;
        transition: 0.7s ease;
    }

    .hamburger {
        display: none;
    }


    
    .logo {
        text-decoration: none;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 25rem;
    }
    
    .logo-content {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
    .right-nav {
        display: flex;
        flex-direction: column;
    }
    
    .top-right-nav {
        display: flex;
        gap: 20px;
    }
    
    
    .main-screen {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        width: 30rem;
    
    }
    
    .rightSide {
        padding-top: 3rem;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }
    
    .rightSide button {
        width: 9rem;
    }
    
    .rightSide h2 {
        font-size: 4rem;
        width: 38rem;
        text-wrap: wrap;
    }
    
    .menu-section {
        background-color: var(--primary-color);
        /* padding-top: 4rem; */
    }
    
    .title {
        padding-top: 3rem;
        justify-content: center;
        text-align: center;
    }
    .title h2 {
        margin: 0;
        padding: 20px;
    }
    
    .content {
        display: flex;
        justify-content: center;
        gap: 20px;
    
    }
    
    .buttie-cell {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 15rem;
        height: 6rem;
        margin: 2rem;
    }
    
    span {
        font-size: .9rem;
    }
    
    .tapas-smallPlates {
        display: flex;
        flex-direction: column;
        text-align: center;
        /* padding: 15px; */
    }
    
    .tapa-title {
        margin: 3rem;
    }
    
    .tapa-content {
        gap: 20px;
        display: flex;
        justify-content: center;
    }
    
    .tapas-cell {
        width: 15rem;
        height: 6rem;
        margin: 2rem;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .tapas-title {
        text-wrap: wrap;
    }
    
    .tapas-content {
        display: flex;
        flex-direction: column;
    }
    
    .moreScran {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 15px;
        /* margin-bottom: 3.5rem; */
    }
    
    .scran-content {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    
    .moreScran-cell {
        width: 15rem;
        height: 6rem;
        margin: 2rem;
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .moreScran-title {
        text-wrap: wrap;
    
    }
    
    .moreScran-content {
        text-wrap: wrap;
    }
    
    .extras {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

 
    
    footer {
        background-color: rgb(22, 21, 21);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        font-weight: bold;
        line-height: 1.2rem;
    }

    .footer-right-side, .footer-left-side {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }

    .footer-social-media {
        display: flex;
        gap: 10px;
    }
    
    
    .footer-title {
        display: flex;
        align-items: center;
    }
    h4 {
        color: goldenrod;
    }
    
    .main-footer-content {
        width: 100%;
        display: flex;
        align-items: top;
        justify-content: space-evenly;
        gap: 30px;
    }
    
    .location {
        display: flex;
        flex-direction: column;
    }
    
    .location-content {
        display: flex;
        flex-direction: column;
    }
    
    .timetable {
        display: flex;
        flex-direction: column;
    }
    
    .timetable-content {
        display: flex;
        flex-direction: column;
    }
    
    .footer-image img {
        height: 10rem;
        width: 10rem;
    }
    
    .info-section {
        background-color: var(--secondary-color);
        color: white;
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        /* background-color: rgb(229, 208, 22); */
    }
    a {
        color: black;
    }

    .email {
        color: black;
    }
    
    .info-main-content {
        /* width: 100%; */
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    
    }
    
    .icon img {
        height: 5rem;
        fill: black;
    }
    
    .location-info {
        display: flex;
        flex-direction: column;
    }
    
    .location-info, .timetable-info, .info-content {
        line-height: 2rem;
        margin-top: 3rem;
    }
    
    .location-info span, .timetable-info span, .info-content span {
        font-size: 1rem;
    }
    
    .timetable-info {
        display: flex;
        flex-direction: column;
    }
    
    .info-catering {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        text-align: center;
        justify-content: center;

    }
    
    
    .lil-about-us {
        color: white;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        background-color: var(--secondary-color);
    
    
    }


    
    .lil-rightside{
        /* background-image: url(images/castro.jpg);
        background-size: cover;
        background-repeat: no-repeat; */
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: auto;
        max-width: 100%; 
        display: block;  */
    }

    .lil-rightside img {
        display: flex;
        width: 80%;
    }
    
    .lil-leftside h3 {
        text-align: center;
    }
    .lil-leftside {
        width: 50vw;
        margin: 2rem;
        line-height: 2rem;
    }


    .footer-right-side.phone {
        display: none;
    }

    .info-cell a img{
        margin: 2rem;
        width: 400px;
    }
}


.hamburger {
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


.footer-social-logo {
    height: 2rem;
    width: 2rem;
}

.up-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.up-container:hover {
    background-color: rgba(255, 255, 255, 0.065);
    border-radius: 50%;

}

.up-btn {

    border: none;
    background-color: transparent;
}

.up-btn img {
    filter: brightness(0) invert(1);
}


.footer-social-media {
    /* padding-right: 2rem; */
}

.footer-social-media img {
    height: 1.5rem;
    width: 1.5rem;

}


.original-button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border-bottom: 5px solid #1a796f;
    transition: 0.3s;
    background-color: var(--primary-color);
  }
  
  .original-button:hover {
    border-bottom-width: 0;
    transform: translateY(5px);
  }

  .rightSide h2 {
    font-weight: 800;
    /* -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 0.5px; 
   -webkit-text-stroke-color: black; */
  }
   
   .extras {
    padding-bottom: 5rem;
   }